* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: #cccccc;
}
header {
  background-color: #2b536c;
  color: #fff;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 60px;
  padding-right: auto;
}

footer {
  text-align: center;
  background-color: #2b536c;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

section h2 {
  font-size: 25px;
  padding-bottom: 20px;
  padding-left: 1em;
  padding-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 400px 400px 1fr;
}

.title {
  grid-column: 2 / 4;
  grid-row: 1;
  text-align: center;
  margin: 2em;
  font-size: 30px;
}

.item1 {
  grid-row: 2;
  grid-column: 2/3;
}

.item2 {
  grid-row: 2;
  grid-column: 3/ 4;
}

.item3 {
  grid-row: 3;
  grid-column: 2/4;
}

.item4 {
  grid-row: 3;
  grid-column: 3/4;
}
