* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}
header {
  background-color: #2b536c;
  color: #fff;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 60px;
  padding-right: auto;
}

footer {
  text-align: center;
  background-color: #2b536c;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
